<html>
    <head>
        <title>jo</title>
    </head>
    <body>
        <h1>a a a a a</h1>

        <form action = "/" method = "POST" enctype = "multipart/form-data">
          file: <input type="file" name="file" /><br>
          factors: <input type="text" name="fact" value="1,0.5,2"><br>
          sums: <input type="text" name="sum" value="-100,100"><br>
          go: <input type = "submit"/>
        </form>

    </body>
</html>