<html>
    <head>
        <title>jojojojojo</title>
    </head>
    <body>
        <h1>epic results</h1>
        <table>
        <thead>
            <tr>
                <td>name</td>
                <td>unclipped</td>
                <td>clipped (0 <= x <= 255)</td>
            </tr>
        </thead>
        <tbody>
        {% for name, img_url in output_images.items() %}
            <tr>
            <td>{{ name }}</td>
            <td><a target="_blank" href="{{ img_url }}-0"><img src="{{ img_url }}-0" width="500"/></a></td>
            <td><a target="_blank" href="{{ img_url }}-1"><img src="{{ img_url }}-1" width="500"/></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </body>
</html>